@font-face {
    src: url(./fonts/OCR\ A\ Extended\ Regular.ttf);
    font-family: "OCR";
  }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



  body {
    font-family: "OCR", monospace;
    background-image: linear-gradient(225deg, #9c2b2c 0%, #ac898b 50%, #576877 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgba(245, 245, 245, 0.856);
  }

.card {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    box-shadow:  5px 5px 20px rgba(35, 35, 35, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(87, 8, 10, 0.2);
    width: 550px;
    height: 350px;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

img {
    width: 50px;
} 

h1 {
    text-align: right;
    font-weight: normal;
    font-family: monospace;
    color: white;
}
 
.icons {
    display: flex;
    margin-top: 30px;
}

.contactless-icon {
    margin-left: 10px;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 0.5px;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: monospace;
    text-transform: uppercase;
}

.footer > img {
    width: 20%;
}

.footer-text {
font-weight: bold;
color: white;
}

/* card back */

.card-front{
    display: none;
}

/* .card-back {
    display: none;
} */

.card-back {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.magnetic {
    background: rgb(31, 30, 30);
    position: absolute;
    width: 100%;
    padding: 35px;
    left: 0;
    bottom: 220px;
}

.screen {
    background: rgb(190, 180, 180);
    position: absolute;
    width: 470px;
    padding: 20px;
    left: 40px;
    bottom: 140px;
    text-align: right;
    color: rgb(31, 30, 30);
    font-family: monospace;
}

.text-back {
    margin-top: 200px;
    font-size: 12px;
}
